img {
margin-right: 30px;
margin-bottom: 10px;
}
.image-link{
    border: 0px;
}
.skill-logo{
    margin-right: 15px;
    border: 0px;
}
.list-group-item {
	background-color: inherit !important;
}
.content-section-b {
	padding: 30px 30px;
}
.content-section-a {
	padding: 30px 30px;
}
.table tbody > tr > td {
	border: 0px;
	padding: 1px;
}